doctype html
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mon Site Livres

  body
    header
      h1 Mon Site Livres

    nav
      ul
        li
          a(href="/livres") Liste des Livres
        li
          a(href="/ajout-livre") Ajouter un Livre

    block content
      // Cette section sera remplacée par le contenu spécifique de chaque page

    footer
      p © 2024 Mon Site Livres
